.aboutMe {
    background-color: $primary;
    border-bottom: solid 2px $quinary;
    padding-top: 50px;
    padding-bottom: 50px;
    .aboutFlex {
        display: flex;
        .profileImage img{
            filter: grayscale(100%);
            // border-radius: 61% 39% 68% 32% / 52% 42% 58% 48%;
            // border-radius: 61% 39% 68% 32% / 52% 57% 43% 48%;
            border-radius: 61% 39% 68% 32% / 52% 55% 45% 48%;
        }
    }
}