header {
    background-color: $primary;
    border-bottom: solid 2px $quinary;
    .headerFlex {
            background-color: $primary;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 85vh;
            .gradientBlob1, .gradientBlob2, {
                    position: absolute;
                    border-radius: 50%;
                    filter: blur(50px);
                }
            .gradientBlob1 {
                height: 200px;
                width: 200px;
                top: 120px;
                background-image: radial-gradient(circle at 45% 45%, #d88de9, #d88de95a);
            }
            .gradientBlob2 {
                height: 100px;
                width: 150px;
                top: 600px;
                right: 180px;
                background-image: radial-gradient(circle at 45% 45%, #d88de9, #d88de95a);
            }
            h1 {
                padding-bottom: 10px;
                z-index: 20;
            }
            h2 {
                padding-bottom: 20px;
                z-index: 20;
            }
            .tagline {
                margin-bottom: 40px;
                width: 70%;
                line-height: 1.5;
                text-align: center;
                z-index: 20; 
                .highlight {
                    border-radius: 50%;
                    background-color: #d88de94b;
                    box-shadow: 0px 0px 38px 3px rgba(216, 141, 233, 0.63);
                }
            }
            a {
                background-color: $quaternary;
                border: solid 2px $quinary;
                border-radius: 30px;
                padding: 15px 40px;
                &:hover {
                    background-color: $secondary;
                    box-shadow: 0px 0px 65px -4px rgba(216, 141, 233, 1);
                }
                &:focus {
                    background-color: $secondary;
                    box-shadow: 0px 0px 65px -4px rgba(216, 141, 233, 1);
                }
            }
        }
}


