header {
    background-color: $primary;
    border-bottom: solid 2px $quinary;
    .headerFlex {
            background-color: $primary;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 90vh;
            .tagline {
                width: 60%;
                text-align: center;
            }
            a {
                background-color: $quaternary;
                border: solid 2px $quinary;
                border-radius: 30px;
                padding: 15px 40px;
                &:hover {
                    background-color: $secondary;
                }
                &:focus {
                    background-color: $secondary;
                }
            }
        }
}

