.navBar {
    padding-top: 20px;
    background-color: $primary;
    ul {
        display: flex;
        justify-content: center; 
        border-top: solid 2px $quinary;
        border-bottom: solid 2px $quinary;
        background-color: $primary;
        li {
            padding: 15px 70px;
            border-right: solid 2px $quinary;
            text-transform: uppercase;
            a {
                &:hover {
                    background-color: #d88de9b3;
                    padding: 15px 60px;
                    box-shadow: 0px 0px 64px 27px rgba(216, 141, 233, 1);
                    }
                    &:focus {
                    background-color: $secondary;
                    }
            }
        }
        li:first-child {
            border-left: solid 2px $quinary;
        }
        li:last-child {
            border-right: solid 2px $quinary;
        }
    }
}