
.skills {
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: solid 2px $quinary;
    background-color: $primary;
    h2 {
        margin-bottom: 50px;
    }
    }
    .iconTextMainContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            .iconText {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 15px 20px 30px 20px;
                padding-bottom: 10px;
                p {
                    font-size: 0.8rem;
                    text-align: center;
                    margin-top: 10px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }
            }
        }


