/* site fonts */
$headingFont: "Mulish", sans-serif;
$bodyFont:"Quicksand", sans-serif;

/* site colours */
$primary:  #f7f7ef; 
$secondary:  #d88de9;
$tertiary: #FFF; 
$quaternary: #d4ff4a;
$quinary: #2d051a;
$solidBlack: #000;

